[phases.setup]
nixPkgs = [
  "python39",
  "firefox",
  "gtk3",
  "glib",
  "nss",
  "freetype",
  "harfbuzz",
  "fontconfig",
  "ca-certificates",
  "ttf-freefont",
  "liberation_ttf",
  "libdrm",
  "mesa",
  "dbus",
  "at-spi2-atk",
  "at-spi2-core",
  "cups",
  "libxkbcommon",
  "pango",
  "cairo",
  "alsa-lib",
  "xorg.libX11",
  "xorg.libXcomposite",
  "xorg.libXdamage",
  "xorg.libXext",
  "xorg.libXfixes",
  "xorg.libXrandr",
  "gdk-pixbuf",
  "libnotify",
  "libsecret",
  "systemd"
]

[phases.install]
cmds = [
  "pip install -r requirements.txt"
]

[start]
cmd = "gunicorn --bind 0.0.0.0:$PORT --workers 2 --timeout 120 app:app"
